<p style="color: green"><%= notice %></p>

<h1>Ciudades</h1>

<div id="cities">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Código Postal</th>
        <th>Departamento</th>
        <th>País</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.code_postal %></td>
          <td><%= city.department&.name %></td>
          <td><%= city.department&.country&.name %></td>
          <td>
            <%= link_to "Ver", city, class: "btn btn-info btn-sm" %>
            <%= link_to "Editar", edit_city_path(city), class: "btn btn-warning btn-sm" %>
            <%= button_to "Eliminar", city, method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "¿Estás seguro?" } } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Nueva Ciudad", new_city_path, class: "btn btn-primary" %> 